#primero{font-family: 'Srisakdi', cursive;}
#segundo{font-family: 'Anton', sans-serif;}
#firstdiv{border:solid black;
height: 200px;
width: 50%}
#seconddiv{border: solid black;
height: 100px;
width: 500px}
i{size: 100px}